<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Agregar Nuevo Bombero</h3>
    </div>
    <div class="card-body">
      <form action="/bomberos/agregar" method="POST">
          <div class="mb-3">
            <label for="nombre">Ingrese el nombre:</label>
            <br />
            <input  type="text" name="nombre" placeholder="Nombre" class="form-control" value="{{nombre}}"  id="nombre"/>
          </div>
          <div class="mb-3">
            <label for="apellido">Ingrese el apellido:</label>
            <br />
            <input type="text"  name="apellido" placeholder="Apellido" class="form-control" value="{{apellido}}" id="apellido" />
          </div>
          <div class="mb-3">
            <label for="dni">DNI:</label>
            <br />
            <input type="text"  name="dni" placeholder="DNI" class="form-control" value="{{dni}}" id="dni" />
          </div>
          <div class="mb-3">
            <label for="nOrden">Numero de orden:</label>
            <br />
            <input type="text" name="nOrden" placeholder="N de Orden" class="form-control" value="{{nOrden}}" id="nOrden" />
          </div>
          <div class="mb-3">
            <label for="rango">Rango:</label>
            <br />
            <select class="form-select" name="rango" id="rango">
              {{#each Grados}}
                  <option value="{{this.nombre}}">{{this.nombre}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label for="title">Estado:</label>
            <select class="form-select" name="estado">
              {{#each Estados}}
              <option value="{{this.estado}}">{{this.estado}}</option>
              {{/each}}
            </select>   
          </div>
          <div class="mb-3">
            <label>
                <input 
                type="checkbox" 
                name="despachador"
                value="true"
              >    Despachador.      
            </label>  
          </div>  
          <div class="mb-3">
            <label>
                <input 
                type="checkbox" 
                name="admin"
                value="true"
              >   Administrador.      
            </label>  
          </div> 
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="SuperiorDeTurno" name="SuperiorDeTurno" value="true" {{#if SuperiorDeTurno}}checked{{/if}}>
            <label class="form-check-label" for="SuperiorDeTurno">Superior de Turno</label>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="GuardiaEspecial" name="GuardiaEspecial" value="true" {{#if GuardiaEspecial}}checked{{/if}}>
            <label class="form-check-label" for="GuardiaEspecial">Cumple Guardia Especial</label>
          </div>
  
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="chofer" name="chofer" value="true" {{#if chofer}}checked{{/if}}>
            <label class="form-check-label" for="chofer">Chofer</label>
          </div>
          <div class="mb-3">
          <label class="form-label">Unidades Habilitadas:</label>
          <div>
            {{#each unidades}}
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="unidad-{{this._id}}"
                  name="unidadesHabilitadas[]"
                  value="{{this.numero}}"
                  {{#contains this._id ../unidadesHabilitadas}}checked{{/contains}}
                >
                <label class="form-check-label" for="unidad-{{this._id}}">
                  {{this.numero}} -({{this.propocito}})
                </label>
              </div>
            {{/each}}
          </div>
          </div>

        {{#if errors.length}}
          <div class="alert alert-danger">
            <ul>
            {{#each errors}}
              <li>{{this.text}}</li>
            {{/each}}
            </ul>
          </div>
        {{/if}}
        <br />
          <div class="d-grid gap-2">

            <button class="btn btn-primary" type="submit">Agregar</button>

            <a href="/Bomberos" class="btn btn-primary">Volver</a>
          </div>
      </form>
    </div>
  </div>
</div>