<div class="container">
  <h1>Listado de Bomberos</h1>
  </br>
  <div>
    <a href="/bomberoAdd" class="btn btn-primary">Agregar Bombero Nuevo</a>
    </div>
  </br>
    <div class="table-responsive">
        <table class="table  table-hover table-sm table-light">
          <thead>
            <tr>
              <th>Num</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Grado</th>
              <th>Dni</th>
              <th>Estado</th>
              <th>Despachador</th>
              <th>Administrador</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            {{#each TodosBomberos}}
              <tr>
                <td>{{this.nOrden}}</td>
                <td>{{this.apellido}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.rango}}</td>
                <td>{{this.dni}}</td>
                <td>{{this.estado}}</td>
                <td>{{this.despachador}}</td>
                <td>{{this.admin}}</td>         
                <td>
                  <a href="/editarBomberos/{{_id}}" class="btn btn-info">Modificar </a>
                </td>       
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
</div>



