<div class="container">
  <h1>Listado de Superiores de Turno</h1>
  </br>
  <div>
    <a href="/bomberos" class="btn btn-secondary">Volver al Listado General</a>
  </div>
  </br>
  <div class="table-responsive">
    <table class="table table-hover table-sm table-light">
      <thead>
        <tr>
          <th>Num</th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Rango</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {{#each todosBomberos}}
          <tr>
            <td>{{nOrden}}</td>
            <td>{{apellido}}</td>
            <td>{{nombre}}</td>
            <td>{{dni}}</td>
            <td>{{rango}}</td>
            <td>
              <a href="/editarBomberos/{{_id}}" class="btn btn-info btn-sm">Modificar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
