<div class="container-fluid mt-4 text-white">
        <h1>Movimiento de Unidades</h1>
      </br>
      <div>
          <a href="/movimientoAdd" class="btn btn-primary">Agregar Movimiento Nuevo</a>
      </div>
      </br>
      <h2>Unidades Pendientes</h2>
      <table class="table table-bordered table-hover table-dark">
        <thead>
          <tr>
            <th>Num</th>
            <th>Cuartelero</th>
            <th>Autorizo</th>
            <th>Unidad</th>
            <th>Chofer</th>
            <th>Fecha</th>
            <th>Propocito</th>
            <th>KM</th>
            <th>Fecha</th>
            <th>Finalizo</th>
            <th>Finalizar</th>
          </tr>
        </thead>
        <tbody>
          {{#each movimiento}}
            <tr>
              <td>{{@index}}</td>
              <td>{{this.cuartelero}}</td>
              <td>{{this.autorizo}}</td>
              <td>{{this.unidad}}</td>
              <td>{{this.chofer}}</td>
              <td>{{this.fechaInicio}}</td>
              <td>{{this.propocito}}</td>
              <td><input type="text" name="km" placeholder="Agregar KM"></td>
              <td><input type="datetime-local" name="fechaFinal"></td>
              <td>{{this.finalizo}}</td>
              <td>
                <a href="/edit/{{_id}}" class="btn btn-info">Finalizar</a>
              </td>       
            </tr>
          {{/each}}

        </tbody>
      </table>
      </br>
      <h2>Uniades  Finalizadas</h2>

</div>

