<h1>Listado de Novedades</h1>

</br>

<div>
    <a href="/novedadesAdd" class="btn btn-primary">Agregar nueva Novedad</a>
</div>
</br>

<table class="table table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th>Num</th>
      <th>Bombero</th>
      <th>Derscripcion</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {{#each novedad}}
      <tr>
        <td>{{@index}}</td>
        <td>{{this.bombero}}</td>
        <td>{{this.descripcion}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/edit/{{_id}}" class="btn btn-info">Modificar </a>
          <a href="/borrar/{{_id}}" class="btn btn-danger">Borrar</a>
        </td>       
      </tr>
    {{/each}}
  </tbody>
</table>