<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Detalle del Movimiento</h3>
    </div>
    <div class="card-body">
       
        <div class="mb-3">
            <label for="unidad">Uniad:</label>
            <h5>{{movimiento.unidad}}</h5>              
        </div>
        <div class="mb-3">
            <label for="autorizo">Autorizo:</label>
            <h5>{{movimiento.autorizo}}</h5>
        </div>  
        <div class="mb-3">
            <label for="chofer">Chofer:</label>
            <h5>{{movimiento.chofer}}</h5>
        </div> 
        <div class="mb-3">
            <label for="propocito">Propocito:</label>
            <h5>{{movimiento.propocito}}</h5>
        </div>
        <div class="mb-3">
            <label for="fechaInicio">Fecha de Inicio:</label>
            <h5>{{movimiento.fechaInicio}}</h5>
        </div>
        <div class="mb-3">
        <label for="fechaFinal">Fecha de Final:</label>
        <h5>{{movimiento.fechaFinal}}</h5>
        </div>
        <div class="mb-3">
        <label for="cuartelero">Despachador :</label>
        <h5>{{movimiento.cuartelero}}</h5>
        </div>
        <div class="d-grid gap-2">    
        <a href="/movimientos" class="btn btn-primary">Volver</a>
        </div>
    
    </div>
  </div>
</div>