<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Agregar Movimiento de Unidad</h3>
    </div>
    <div class="card-body">
        <form action="/movimiento/agregar" method="POST">
            <div class="mb-3">
                <label for="unidad">Uniad:</label>
                <select class="form-select" name="unidad">
                {{#each unidad}}
                    <option value="{{this.numero}}">{{this.numero}} --{{this.propocito}}</option>
                    {{/each}}
                </select>   
            </div>
            <div class="mb-3">
                <label for="autorizo">Autorizo:</label>
                <select class="form-select" name="autorizo" id="autorizo">
                    {{#each bombero}}
                        <option value="{{this.apellido}},{{this.nombre}}">{{this.apellido}},{{this.nombre}} </option>
                    {{/each}}
                </select>
            </div>  
            <div class="mb-3">
                <label for="chofer">Chofer:</label>
                <select class="form-select" name="chofer" id="chofer">
                    {{#each bombero}}
                        <option value="{{this.apellido}},{{this.nombre}}"> {{this.apellido}},{{this.nombre}} </option>
                    {{/each}}
                </select>
            </div> 
            <div class="mb-3">
                <label for="propocito">Propocito:</label>
                <br />
                <input type="text" name="propocito" class="form-control" id="propocito" />
            </div>
                <div class="mb-3">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <br />
                <input type="datetime-local" class="form-control" name="fechaInicio">
                </div>
                <br />
                <div class="d-grid gap-2">

                <button class="btn btn-primary" type="submit">Agregar</button>

                <a href="/movimientos" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
  </div>
</div>