
<div class="col-md-4 mx-auto pt-5 ">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">Agregar Novedades</h3>
    </div>
    <div class="card-body text-left">
      <form action="novedadesAgregar" method="POST">
        <div class="mb-3">
          <label for="title">Bombero</label>
            <select name="bombero" id="bombero">
              {{#each bombero}}
              <option value="{{this.nombre}}, {{this.apellido}}">{{this.nombre}}, {{this.apellido}}</option>
              {{/each}}
            </select>
        </div>
        <div class="mb-3">
          <label for="description">Description:</label>
          <textarea
            name="descripcion"
            class="form-control"
            placeholder="Descripcion"
          ></textarea>
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar novedad
        </button>
      </form>
    </div>
  </div>
</div>




















{{!-- <div class="container text-white bg-dark mt-4">
  <br />
  <h1>Formulario de Entrada de Datos</h1>
  <form action="/novedades/agregar" method="post">
    <br />
    <label for="bombero">Bombero</label>
    <br/>
    </form>
    <select name="bombero" id="bombero">
        {{#each bombero}}
            <option value="{{this.nombre}}, {{this.apellido}}">{{this.nombre}}, {{this.apellido}}</option>
        {{/each}}
    </select>
    <br/>
    <label for="descripcion">Descripcion:</label>
    <br/>

    <textarea name="descripcion" placeholder="descripcion" id="descripcion"  rows="10" cols="50" ></textarea>
   
    <div class="container mt-4 mb-4">
      <button class="btn btn-primary">Agregar</button>
      <a href="/novedades" class="btn btn-primary">Volver</a>
    </div>
  </form>
</div> --}}